body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: grey;
}

div {
	padding: 5px;
}

.fas {
	font-size:68px;
}


.profile-details {
	padding-top: 50px;
	padding-left: 30px;
	position: relative;
}

.navigation-bar a{
  color:white;
  font-size:15px;
  text-align: center;
  text-transform:uppercase;
  font-family:Arial, Helvetica, sans-serif;
  
}

/*Background-Colors*/
.nav-item {
	border: 1px;
	background-color: coral;
}


.coral {
	background-color: coral;
	border: 1px solid;
}


 /* End of Background-Colors */

.nav-item i:hover,  .navigation-bar a:hover{
	color: yellow;
}

.nav-item:hover {
	background-color: #83888a;
}

.fab {
	color: black;
	font-size: 42px;
}

.gmail {
	color: black;
	font-size: 42px;
}

.gmail:hover {
	color: white;
}

.fab:hover {
	color: white;
}

.education-table th, td {
  padding: 15px;
}

.quote {
	border: solid; 
	border-color: white; 
	border-width: 3px;
}

.tab-content {
	border: 1px solid #ccc;
}

.tab-content:hover, .profile-pic:hover{
  box-shadow: 0 0 41px rgba(241, 247, 176,0.4); 
}

.education-table td, th {
	word-break:break-all;
}

.progress-bar {
	background-color: coral;
	height: 5px;
}

.projects {
	color: grey;
	font-size: 23px;
}

.projects:hover {
	color: black;
}
