body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 15px;
  line-height: 1.6;
  background-color: grey;
  font-variant: normal;
 
}

div {
	padding: 5px;
}

.fas {
	font-size:68px;
}


.profile-details {
	padding-top: 50px;
	padding-left: 30px;
	position: relative;
	
}

.navigation-bar a{
  color:white;
  font-size:15px;
  text-align: center;
  text-transform:uppercase;
  font-family:Arial, Helvetica, sans-serif;
  
}

/*Background-Colors*/
.nav-item {
	border: 1px;
	background-color: #de3404;
}


.coral {
	background-color: #de3404;
	border: 1px solid;
}


 /* End of Background-Colors */

.nav-item i:hover,  .navigation-bar a:hover{
	color: yellow;
}

.nav-item:hover {
	background-color: #83888a;
}

.fab {
	color: black;
	font-size: 42px;
}

.gmail {
	color: black;
	font-size: 42px;
}

.gmail:hover {
	color: white;
}

.fab:hover {
	color: white;
}

.education-table th, td {
  padding: 15px;
}

.quote {
	border: solid; 
	border-color: white; 
	border-width: 3px;
}

.tab-content {
	border: 1px solid #ccc;
}

.tab-content:hover, .profile-pic:hover{
  box-shadow: 0 0 41px rgba(241, 247, 176,0.4); 
}

.education-table td, th {
	word-break:break-all;
}

.progress-bar {
	background-color: #de3404;
	height: 5px;
}

.projects {
	color: grey;
	font-size: 23px;
}

.projects:hover {
	color: black;
}

#certifications i {
	font-size:38px;
	color: grey;
}

#certifications i:hover {
	color: #de3404;
}

.side-line {
	border-left: 2px solid #de3404; 
	background-color: #f7fcf9;
}

.edu-timeline {
	color: #0c5e7d;
	float: right;
	font-size: 16px;
}

.edu-details h5 {
	font-size: 16px;
	color:  #737373;
	line-height: 1.4;
	font-weight: normal;
}

.edu-details h4 {
	font-size: 22px;
}